.day-item-container {
  text-decoration: none;
  width: 100%;
}

.day-item__icon {
  height: 25vh;
/*  margin-bottom: 1vh;*/
  width: 100%;
}

.day-item__date,
.day-item__date--detailScreen {
  color: #808080;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-weight: 100;
  margin: 0 0 6vh;
  text-decoration: none;
}

.day-item__date {
  font-size: 6.5vw;
}

.day-item__date--detailScreen {
  font-size: 9vw;
}

@media screen and (min-width: 31.875em) {
  .day-item__date {
    font-size: 6.25vw;
  }

  .day-item__date--detailScreen {
    font-size: 8vw;
  }
}

@media screen and (min-width: 37.5em) {
  .day-item__date {
    font-size: 5.75vw;
  }

  .day-item__date--detailScreen {
    font-size: 6.75vw;
  }
}

@media screen and (min-width: 45.875em) {
  .day-item__icon {
    margin-bottom: 1.1em;
  }

  .day-item__date {
    font-size: 2rem;
  }

  .day-item__date--detailScreen {
    font-size: 3rem;
  }
}
