.forecast-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.forecast__h1,
.forecast__error h2 {
  color: #808080;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-weight: 100;
}

.forecast__error {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.forecast__error h2 {
  bottom: 6.5vh;
  font-size: 5.5vw;
  margin: 0;
  position: relative;
}

.forecast__error h2:nth-child(2) {
  margin-top: 0.1em;
}

.forecast__error__link {
  font-weight: 400;
}

.forecast__error__link:visited {
  color: #808080;
}

.forecast__h1 {
  font-size: 9.5vw;
  margin: 0.2em 0;
}

.forecast__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
}

.forecast__grid__link {
  display: flex;
  flex-direction: column;
  margin: 0 3%;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 31.875em) {
  .forecast__h1 {
    font-size: 8.75vw;
  }

  .forecast__error h2 {
    font-size: 4.25vw;
  }
}

@media screen and (min-width: 37.5em) {
  .forecast__h1 {
    font-size: 8vw;
  }

  .forecast__error h2 {
    font-size: 3.75vw;
  }
}

@media screen and (min-width: 45.875em) {
  .forecast__h1 {
    font-size: 3.25rem;
  }

  .forecast__error h2 {
    font-size: 1.95rem;
  }
}
