.form {
  display: flex;
}

.form__input,
.form__button {
  font-size: 4vw;
}

.form__button {
  background-color: #5cb85c;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

/* Hides Google logo in the autocomplete drop-down. */
.pac-logo::after {
  display: none;
}

@media screen and (min-width: 31.875em) {
  .form__input,
  .form__button {
    font-size: 3.5vw;
  }
}

@media screen and (min-width: 37.5em) {
  .form__input,
  .form__button {
    font-size: 3vw;
  }
}

@media screen and (min-width: 48em) {
  .form__input,
  .form__button {
    font-size: 1.4rem;
  }
}
